$color_1: #2b80b9;
$color_white: #fff;
$background-color_2: #f2f7ba;

footer {
    background-color: $background-color_2;
    grid-area: footer;

    #footer {

        h2 {
            color: $color_1;
            padding-top: 80px;

        }

        a {
            text-decoration: none;

            svg {
                height: 40px;
                width: 40px;
                fill: $color_1;
                padding-top: 20px;
                padding-left: 10px;

                &:hover{
                    fill: $color_white;
                }
            }
        }

    }
}