$color_white : #fff;

header {
    grid-area: header;
    display: grid;
    background-image: linear-gradient(rgba(116, 230, 214, 0.4),
            rgba(250, 247, 48, 0.3)),
        url(../images/beach.jpg);
    background-position: center;
    background-size: cover;


    #title_header {
        color: $color_white;
        align-self: center;
        justify-self: center;

        svg {
            height: 60px;
            margin-right: 10px;
            fill: $color_white
        }

        h1 {
            color: $color_white;
            font-size: 3rem;
            margin-bottom: 1%;
        }

        h4 {
            color: $color_white;
        }
    }
}